* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  background: url("../assets/img/background.svg") no-repeat;
  background-position: bottom center;
  background-size: contain;
  font-family: Roboto;
  overflow-x: hidden;
  font-style: normal;
  header {
    background-color: #fff;
    width: 100%;
    @media (min-width: 1200px) {
      position: relative;
      left: 287px;
    }
    svg {
      margin: 17px 0px 17px 20px;
    }
  }

  main {
    padding: 20px;
    .wrap-title {
      text-align: center;
      font-size: 32px;
      width: 580px;
      margin: auto;
      .title {
        margin-top: 100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */
        letter-spacing: 0.0125em;
        color: #2d3a40;
        @media (min-width: 1200px) {
          font-size: 32px;
          line-height: 42px;
        }
      }
      .description {
        position: relative;

        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */
        top: 20px;
        color: #748296;
      }
    }
    .wrap-form {
      background-color: #fff;
      margin-top: 57px;
      @media (min-width: 1200px) {
        width: 620px;
        margin: auto;
        margin-top: 73px;
      }
      .form {
        margin: 10px;
        form {
          text-align: center;
          padding: 0px 28px 30px 28px;
          @media (min-width: 1200px) {
            padding: 0 170px 1px 170px;
          }
          .input {
            width: 100%;
            height: 42px;
            margin-top: 15px;
            background: #ffffff;
            border: 1px solid rgba(116, 130, 150, 0.2);
            box-sizing: border-box;
            border-radius: 3px;
            padding: 10px;
          }
          #select {
            width: 20%;
            height: 42px;
            margin-top: 34px;
            background: #ffffff;
            border: 1px solid rgba(116, 130, 150, 0.2);
            box-sizing: border-box;
            border-radius: 3px 0px 0px 3px;
            padding: 10px;
            float: left;
            background: url("../assets/img/brasil.jpg") center center no-repeat;
            background-size: 16px;
          }
          #input {
            width: 80%;
            float: left;
            height: 42px;
            margin-top: 15px;
            margin-bottom: 15px;
            background: #ffffff;
            border: 1px solid rgba(116, 130, 150, 0.2);
            box-sizing: border-box;
            border-radius: 0px 3px;
            padding: 10px;
          }

          label {
            pointer-events: none;
            position: relative;
            font-size: 16px;
            letter-spacing: 0.0125em;
            color: rgba(45, 58, 64, 0.3);
            top: -30px;
            left: -45px;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
          }
          input:focus + label,
          input:valid + label {
            top: -52px;
            left: -60px;
            color: rgba(45, 58, 64, 0.3);
            font-size: 14px;
          }

          .button-free {
            background: #14e298;
            border-radius: 3px;
            color: #ffffff;
            font-weight: bold;
            font-size: 16px;
            padding: 15px 20px;
            border: none;
            margin-top: 30px;
            margin-bottom: 96px;
            cursor: pointer;
            &:hover {
              background: #23f7ab;
            }
          }
          .button-obrigado {
            display: none;
            background: #fff;
            border-radius: 3px;
            width: 210px;
            color: #14e298;
            font-weight: bold;
            font-size: 16px;
            padding: 15px 20px;
            border: 1px solid #14e298;
            margin-top: 30px;

            cursor: pointer;
          }
        }
        .descriptioin-button {
          background: #f5f7fa;
          border-radius: 4px;
          font-size: 12px;
          display: none;
          color: #2d3a40;
          padding: 10px;
          position: relative;
          top: 20px;
          margin-bottom: 96px;
        }
      }
    }
  }

  footer {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    @media (min-width: 1200px) {
      width: 70%;
      margin: auto;
    }
    .rodape {
      padding: 20px;
      ul {
        list-style: none;
        @media (min-width: 1200px) {
          display: inline-flex;
        }
        li {
          margin-top: 10px;
          a {
            color: #748296;
            cursor: pointer;
            font-size: 14px;
            @media (min-width: 1200px) {
              padding: 20px;
              position: relative;
              top: -2px;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
